<section class="messenger" ng-hide="$ctrl.inFlight">
    <form ng-submit="$ctrl.sendMessage()" name="$ctrl.messengerForm">
        <div class="row">
            <div class="col-xs-12 -pd-bottom-10">
                <label class="app-label">Receiver: </label>
                <search-for-item max="5" key-to-display="name" list="$ctrl.message.receivers" resource="$ctrl.home.usersList"></search-for-item>
            </div>
            <div class="col-xs-12 -pd-bottom-10">
                <label class="app-label" for="subject">Subject: </label>
                <input type="text" id="subject"
                       required
                       ng-model="$ctrl.message.subject" class="app-input">
            </div>
            <div class="col-xs-12 -pd-bottom-10">
                <label class="app-label">Message: </label>
                <trix-editor angular-trix ng-model="$ctrl.message.text"></trix-editor>
            </div>
            <div class="col-xs-12 -pd-bottom-10">
                <label class="app-label">Attachments: </label>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="app-blue-btn -mg-bottom-10" ngf-select ng-model="$ctrl.file" name="file"
                             ngf-max-size="5MB">
                            Select file
                        </div>
                        <div class="app-grey-btn" ng-click="$ctrl.file = null" ng-if="$ctrl.file">
                            Delete file <span class="glyphicon glyphicon-trash"></span>
                        </div>
                    </div>
                    <div class="col-xs-6 -al-c">
                        <div class="img-container -mg-bottom-10">
                            <img ngf-thumbnail="$ctrl.file" ng-if="$ctrl.file && $ctrl.file.type.indexOf('image') >= -1" class="-inbox">
                        </div>
                        <span class="glyphicon glyphicon-file file-icon text-primary -fs-50 -mg-right-10 -va-m"
                              ng-if="$ctrl.file && $ctrl.file.type.indexOf('image') == -1"
                              aria-hidden="true"></span>
                        <span class="-va-m">{{$ctrl.file.name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <button
                type="submit"
                class="app-blue-btn"
                ng-disabled="$ctrl.messengerForm.$invalid || !$ctrl.message.receivers[0] || !$ctrl.message.text">
            Send message
        </button>
    </form>
</section>
<div class="-centered loader-wrapp" ng-show="$ctrl.inFlight">
    <div class="loader"></div>
</div>