<nav class="app-navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <div class="item">
                   Hello, {{$ctrl.user.name}}
                </div>
            </div>
            <div class="col-xs-4">
                <div class="item">
                    <a class="-a-reset -uppercase" ui-sref="message-list">My messages</a>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="item">
                    <a class="-a-reset -uppercase" ui-sref="message-list">settings</a>
                </div>
            </div>
            <div class="col-xs-2 -al-r">
                <button class="item push -btn-reset" ng-click="$ctrl.logout()">
                    LOGOUT
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 user-list">
            <a ui-sref="send-message" class="-a-reset app-button compose-msg-btn">
                Compose message
            </a>
            <div class="row item" ng-repeat="user in $ctrl.usersList">
                <a class="-a-reset email" ui-sref="send-message({receiver: user})">
                    <div class="col-xs-12">
                        {{user.name}}
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-9">
            <ui-view></ui-view>
        </div>
    </div>
</div>