<nav class="app-navigation row">
    <div class="col-xs-1 mob-show"></div>
    <div class="col-xs-3 mob-hide">
        <div class="item">
           <span class="hidden-xs">Hello,</span> {{$ctrl.user.name}}
        </div>
    </div>
    <div class="col-xs-{{$ctrl.col}}">
        <div class="item">
            <a class="-a-reset -uppercase" ui-sref="message-list">
                <span class="hidden-xs">messages</span>
                <span class="visible-xs-inline glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="col-xs-{{$ctrl.col}} -al-c" ng-if="$ctrl.user.admin">
        <div class="item">
            <a class="-a-reset -uppercase" ui-sref="admin">
                <span class="hidden-xs">admin</span>
                <span class="visible-xs-inline glyphicon glyphicon-lock" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="col-xs-1" ng-if="$ctrl.user.admin"></div>
    <div class="col-xs-{{$ctrl.col}} -al-c">
        <div class="item">
            <a class="-a-reset -uppercase" ui-sref="settings">
                <span class="hidden-xs">settings</span>
                <span class="visible-xs-inline glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="col-xs-{{$ctrl.col}} -al-r">
        <button class="item push -btn-reset -uppercase" ng-click="$ctrl.logout()" ng-if="!$ctrl.user.adminWatch">
            <span class="hidden-xs">logout</span>
            <span class="visible-xs-inline glyphicon glyphicon-log-out" aria-hidden="true"></span>
        </button>
        <button class="item push -btn-reset -uppercase" ng-click="$ctrl.returnToAdmin()" ng-if="$ctrl.user.adminWatch">
            <span class="hidden-xs">Return to me</span>
            <span class="visible-xs-inline glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </button>
    </div>
</nav>
<section class="row">
    <div class="user-list" ng-class="{'active' : $ctrl.activeLeftSide}">
        <div class="-relative">
            <section class="hide-when-not-active">
                <a ui-sref="send-message"
                   ng-click="$ctrl.closeMenu(true)"
                   class="-a-reset app-button compose-msg-btn -mg-bottom-15">
                    Compose message
                </a>
                <h3 class="title -al-c -uppercase -bold ">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> user list
                </h3>
                <section class="auto-scroll-y">
                    <div class="panel panel-default" ng-repeat="user in $ctrl.usersList">
                        <div class="panel-body -pd-5">
                            <div class="row item">
                                <a class="-a-reset email show-by-hover"
                                   ui-sref="send-message({receiver: user})"
                                   ng-click="$ctrl.closeMenu(true)">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-9">{{user.name}}</div>
                                            <div class="col-xs-3 -al-r">
                                                <span class="glyphicon glyphicon-pencil -fs-15 item inline" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <button class="-btn-reset -centered visible-xs left-side-caret" ng-click="$ctrl.closeMenu()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <section class="outblock full-height" ng-click="$ctrl.closeMenu()">
            </section>
        </div>
    </div>
    <div class="home-container full-height col-xs-12 -pd-15" ng-class="{'active' : $ctrl.activeLeftSide}">
        <ui-view ng-if="!$ctrl.inFlight"></ui-view>
        <div class="-centered loader-wrapp" ng-show="$ctrl.inFlight">
            <div class="loader"></div>
        </div>
    </div>
    <a ui-sref="send-message"
       ng-click="$ctrl.closeMenu(true)"
       class="compose-message-btn app-button -a-reset">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </a>
</section>