<section class="-pd-15 message-list">
    <div class="toolbar -pd-bottom-15">
        <div class="row">
            <div class="col-xs-3">
                <div class="btn-group -w100" uib-dropdown>
                    <button type="button" class="app-grey-btn -w100 -uppercase"
                            uib-dropdown-toggle>
                        {{$ctrl.messageType}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem">
                            <button ng-click="$ctrl.changeMessageType('sent')"
                                    class="-btn-reset -w100">Sent</button>
                        </li>
                        <li role="menuitem">
                            <button ng-click="$ctrl.changeMessageType('received')"
                                    class="-btn-reset -w100">Received</button>
                        </li>
                        <li role="menuitem">
                            <button ng-click="$ctrl.changeMessageType('all')"
                                    class="-btn-reset -w100">All</button>
                        </li>
                        <li role="menuitem">
                            <button ng-click="$ctrl.changeMessageType('blacklisted')"
                                    class="-btn-reset -w100">Blacklisted</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-5 search-box">
                <input type="search"
                       ng-model="$ctrl.searchByName"
                       placeholder="Search by name..."
                       class="app-input search-input">
                <button ng-click="$ctrl.getMessages(true)"
                        class="app-grey-btn -btn-reset -in-b search-btn">
                    Search
                </button>
            </div>
            <div class="col-xs-2">
                <div class="btn-group -w100" uib-dropdown>
                    <button type="button" class="app-grey-btn -w100 -uppercase"
                            uib-dropdown-toggle>
                        {{$ctrl.sortByDate == 'DESC' ? 'New' : 'Old'}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem">
                            <button ng-click="$ctrl.sortBy('Date|DESC')"
                                    class="-btn-reset -w100">New</button>
                        </li>
                        <li role="menuitem">
                            <button ng-click="$ctrl.sortBy('Date|ASC')"
                                    class="-btn-reset -w100">Old</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="btn-group -w100" uib-dropdown>
                    <button type="button" class="app-grey-btn -w100 -uppercase"
                            uib-dropdown-toggle>
                        {{$ctrl.sortByNameValue}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem">
                            <button ng-click="$ctrl.sortBy('null'); $ctrl.sortByNameValue = 'Name'"
                                    class="-btn-reset -w100">No filter</button>
                        </li>
                        <li role="menuitem">
                            <button ng-click="$ctrl.sortBy('Name|ASC'); $ctrl.sortByNameValue = 'A-Z'"
                                    class="-btn-reset -w100">A-Z</button>
                        </li>
                        <li role="menuitem">
                            <button ng-click="$ctrl.sortBy('Name|DESC'); $ctrl.sortByNameValue = 'Z-A'"
                                    class="-btn-reset -w100">Z-A</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div uib-accordion  close-others="true">
        <div uib-accordion-group ng-repeat="message in $ctrl.messages"
             class="panel-default">
            <div uib-accordion-heading class="message-header">
                <div class="row" ng-click="$ctrl.readMessage(message)" ng-class="{'unread' : !message.status}">
                    <div class="col-xs-6">
                      <span class="receivers">{{$ctrl.setText(message)}}</span>
                    </div>
                    <div class="col-xs-6 -al-r">
                        {{message.subject}}
                    </div>
                </div>
            </div>
            {{message.text}}
            {{message.attachment}}
            <!--<img ng-src="{{message.attachment}}" alt="">-->
        </div>
    </div>
    <div ng-if="!$ctrl.messages.length" class="-fs-20 -al-c">
        No results.
    </div>
</section>


