<section class="message-list">
    <div class="toolbar -pd-bottom-15">
        <div class="row">
            <div class="col-xs-3 tool-button">
                <div class="btn-group -w100" uib-dropdown>
                    <button type="button" class="app-grey-btn -w100 -uppercase"
                            uib-dropdown-toggle>
                        {{$ctrl.messageType}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem">
                            <button ng-click="$ctrl.changeMessageType('sent')"
                                    class="-btn-reset -w100">Sent</button>
                        </li>
                        <li role="menuitem">
                            <button ng-click="$ctrl.changeMessageType('received')"
                                    class="-btn-reset -w100">Received</button>
                        </li>
                        <li role="menuitem">
                            <button ng-click="$ctrl.changeMessageType('all')"
                                    class="-btn-reset -w100">All</button>
                        </li>
                        <li role="menuitem">
                            <button ng-click="$ctrl.changeMessageType('blacklisted')"
                                    class="-btn-reset -w100">Blacklisted</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-5 search-box">
                <input type="search"
                       ng-model="$ctrl.searchByName"
                       placeholder="Search by name..."
                       class="app-input search-input">
                <button ng-click="$ctrl.getMessages(true)"
                        class="app-grey-btn -btn-reset -in-b search-btn">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <div class="col-xs-2 tool-button date-sort">
                <div class="btn-group -w100" uib-dropdown>
                    <button type="button" class="app-grey-btn -w100 -uppercase"
                            uib-dropdown-toggle>
                        {{$ctrl.sortByDate == 'DESC' ? 'New' : 'Old'}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem">
                            <button ng-click="$ctrl.sortBy('Date|DESC')"
                                    class="-btn-reset -w100">New</button>
                        </li>
                        <li role="menuitem">
                            <button ng-click="$ctrl.sortBy('Date|ASC')"
                                    class="-btn-reset -w100">Old</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-2 tool-button name-sort">
                <div class="btn-group -w100" uib-dropdown>
                    <button type="button" class="app-grey-btn -w100 -uppercase"
                            uib-dropdown-toggle>
                        {{$ctrl.sortByNameValue}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem">
                            <button ng-click="$ctrl.sortBy('Name|null'); $ctrl.sortByNameValue = 'Name'"
                                    class="-btn-reset -w100">No filter</button>
                        </li>
                        <li role="menuitem">
                            <button ng-click="$ctrl.sortBy('Name|ASC'); $ctrl.sortByNameValue = 'A-Z'"
                                    class="-btn-reset -w100">A-Z</button>
                        </li>
                        <li role="menuitem">
                            <button ng-click="$ctrl.sortBy('Name|DESC'); $ctrl.sortByNameValue = 'Z-A'"
                                    class="-btn-reset -w100">Z-A</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div uib-accordion  close-others="true" infinite-scroll="$ctrl.getMessages()"
         infinite-scroll-listen-for-event="checkingScroll"
         infinite-scroll-disabled="$ctrl.inFlight">
        <div uib-accordion-group
             ng-repeat="message in $ctrl.messages"
             class="panel-default">
            <div uib-accordion-heading class="message-header">
                <div class="row message-accordion" ng-click="$ctrl.readMessage(message)" ng-class="{'unread' : !message.status}">
                    <div class="col-xs-12 col-sm-4">
                      <span class="receivers">{{$ctrl.setText(message)}}</span>
                    </div>
                    <div class="col-xs-12 col-sm-4 -al-c text-capitalize">
                        {{message.subject}}
                    </div>
                    <div class="col-xs-12 col-sm-4 text-muted -al-r">
                        {{message.date | dateFilter}}
                    </div>
                </div>
            </div>
            <div class="message-info panel panel-default">
                <div class="panel-heading -bold">
                    Message info
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 -mg-bottom-5">
                            <span class="label label-info">Sender</span>
                        </div>
                        <div class="col-xs-12 col-sm-10 -mg-bottom-5">
                            <p class="item">{{message.sender._id == $ctrl.home.user._id ? 'Me' : message.sender.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 -mg-bottom-5">
                            <span class="label label-info">Receivers</span>
                        </div>
                        <div class="col-xs-12 col-sm-10 -mg-bottom-5">
                            <p class="item" ng-bind-html="$ctrl.getMessageReceivers(message.receivers)"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading -bold text-capitalize">
                    {{message.subject}}
                </div>
                <div class="panel-body" ng-bind-html="$ctrl.bindHtml(message.text)"></div>
            </div>
            <div class="message-info panel panel-default" ng-if="message.attachment">
                <div class="panel-heading -bold">
                    Attachments
                </div>
                <div class="panel-body attachments">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 img-container -al-c">
                            <img ng-src="{{$ctrl.utilService.apiPrefix(message.attachment.path)}}"
                                 class="-inbox"
                                 ng-if="message.attachment.type.indexOf('image') > -1" alt="Attachment image">
                            <span class="glyphicon glyphicon-file file-icon text-info -fs-50"
                                  ng-if="message.attachment.type.indexOf('image') == -1"
                                  aria-hidden="true"></span>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <span class="label label-info w100">Name</span>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="ellipsis">
                                        {{message.attachment.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <span class="label label-info w100">Size</span>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    {{message.attachment.size}} bytes
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <span class="label label-info w100">Url</span>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <a target="_blank" ng-href="{{$ctrl.utilService.apiPrefix(message.attachment.path)}}">
                                        Download
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!$ctrl.messages.length" class="-fs-20 -al-c">
        No results.
    </div>
    <div class="loader-wrapp" ng-show="$ctrl.inFlight">
        <div class="loader"></div>
    </div>
</section>

