.message-list {
  .receivers {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
  }

  .btn-group .dropdown-menu {
    min-width: 0;
    width: 100%;
  }

  .unread {
    font-weight: bold;
  }
}