* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

button:disabled {
  opacity: 0.4;
}

.app-label {
  display: inline-block;
  width: 100px;
}

.app-input {
  border: 0;
  border-bottom: 1px solid #ccd0d0;
  border-radius: 0;
  padding: 5px;
}

.app-input,
.auth-input {
  transition: border 0.2s ease;

  &.invalid {
    border: 1px solid #980000;
  }
}