* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

button:disabled {
  opacity: 0.4;
}

.app-label {
  display: inline-block;
  width: 100px;
}

.app-input {
  border: 0;
  border-bottom: 1px solid #ccd0d0;
  border-radius: 0;
  padding: 5px;
}

.app-input.app-grey-input {
  border-radius: 5px;
  border: 1px solid #a7abab !important;
}

.app-input,
.auth-input {
  transition: border 0.2s ease;

  &.ng-invalid:not(.ng-pristine) {
    border: 1px solid #980000 !important;
  }
}

.icon-input {
  position: relative;
  margin: 0 auto 10px;

  .input{
    width: 100%;
    height: 34px;
    padding: 5px;
    border: 0;
  }

  .input-link {
    color: #000000;
    text-decoration: underline;
    &:hover {
      color: #000000;
    }
  }

  &.-left .input{
    padding-left: 50px;
  }

  &.-left.-large-l .input{
    padding-left: 100px;
  }

  .icon.-left, .input-link.-left {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.-right .input{
    padding-right: 50px;
  }

  &.-right.-large-r .input{
    padding-right: 100px;
  }

  .icon.-right, .input-link.-right {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.search-box {
  .search-btn {
    width: auto;
    height: 33px;
    padding: 0 15px;
  }

  .search-input {
    width: 70%;
  }
}

.img-container {
  .-inbox {
    width: 100%;
    height: auto;
  }
}

.h100vh {
  height: 100vh;
  position: relative;
}

.full-height {
  min-height: calc(100vh - 50px);
}

.-relative {
  position: relative;
}