.add-object {
  position: relative;
  display: inline-block;
  width: auto;

  .add-btn {
    display: inline-block;
    padding: 5px;
    width: 29px;
    border-radius: 3px;
  }

  .add-box {
    display: inline-block;
  }

  .list {
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 100px;
    overflow: auto;
    background: #ffffff;
    z-index: 2;
    border: 1px solid #000000;
  }

  .list .item {
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .list .item:hover {
    background: #e6eaea;
  }

  .display-list {
    display: inline-block;
    margin-right: 10px;
  }

  .remove-btn{
    @extend .app-button;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    color: #5252a4;
    cursor: pointer;
  }
}

.drag-end-drop {
  margin-bottom: 20px;

  .section {
    padding: 15px;
    border: 1px solid #a7abab;
    height: 400px;
    overflow: auto;
  }
}