.-a-reset {
  &,
  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

.-btn-reset {
  background: none;
  border: 0;
  border-radius: 0;

  //&,
  //&:hover,
  //&:active,
  //&:visited,
  //&:focus {
  //  color: inherit;
  //  text-decoration: none;
  //}
}

.-al-c {
  text-align: center;
}

.-al-r {
  text-align: right;
}

.-al-l {
  text-align: left;
}

.-uppercase {
  text-transform: uppercase;
}

.-w100 {
  width: 100%;
  display: block;
}

.-w90 {
  width: 100%;
}

.-w50 {
  width: 50%;
}

.-in-b {
  display: inline-block !important;
}

.-va-m {
  vertical-align: middle;
  display: inline-block;
}

.-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.-bold {
  font-weight: bold;
}

.show-by-hover {

  .item {
    display: none;
  }

  &:hover .item.inline {
    display: inline;
  }
}