<section>
    <div uib-tabset>
        <div uib-tab heading="Watch as me">
            <h2>Watch as me</h2>
            <drag-and-drop-table
                    keys-to-show="['name', 'email']"
                    list-from="$ctrl.usersList"
                    list-to="$ctrl.watchAsMeArr">
            </drag-and-drop-table>
            <button class="app-blue-btn" ng-click="$ctrl.setWatchAsMe()">Save</button>
        </div>
        <div uib-tab heading="Set admin">
            <h2>Set another admin</h2>
        </div>
    </div>
</section>