<section ng-if="$ctrl.type == 'email-verification'">
    <div uib-alert class="alert-success">{{$ctrl.message}}</div>
    <button class="app-blue-btn" ng-click="$ctrl.resendVerificationEmail()">
        Resend
    </button>
</section>

<section ng-if="$ctrl.type == 'restore'" class="-al-c">
    <div uib-alert class="alert alert-info -al-l" ng-class="{'alert-success': $ctrl.options.success}">
        {{$ctrl.message}}
    </div>
    <a ui-sref="login" class="-a-reset app-blue-btn" ng-if="$ctrl.options.success">Sign in with new password!</a>
</section>