<section ng-hide="$ctrl.inFlight">
    <form name="$ctrl.passwordForm" ng-submit="$ctrl.changeData('password')">
        <h2 class="-mg-top-0">Change Password</h2>
        <label for="old_password">Old password</label>
        <div class="icon-input">
            <input class="app-input app-grey-input input" id="old_password" type="password"
                   required name="old_password"
                   ng-model="$ctrl.password.old">
        </div>
        <label for="new_password">New password</label>
        <div class="icon-input">
            <input class="app-input app-grey-input input" id="new_password" type="password"
                   required name="old_password"
                   ng-model="$ctrl.password.new">
        </div>
        <label for="confirm_password">Confirm password</label>
        <div class="icon-input">
            <input class="app-input app-grey-input input" id="confirm_password" type="password"
                   required name="confirm_password" ng-change="$ctrl.checkPassword()"
                   ng-model="$ctrl.password.confirm">
        </div>
        <button type="submit"
                ng-disabled="$ctrl.passwordForm.$invalid"
                class="app-grey-btn">
            Save
        </button>
    </form>
    <form name="$ctrl.nameForm" ng-submit="$ctrl.changeData('name')">
        <h2>Change Name</h2>
        <label for="name">Name</label>
        <div class="icon-input">
            <input class="app-input app-grey-input input" id="name" type="text"
                   required name="name"
                   ng-model="$ctrl.name">
        </div>
        <button type="submit"
                ng-disabled="$ctrl.nameForm.$invalid"
                class="app-grey-btn">
            Save
        </button>
    </form>
    <form name="$ctrl.emailForm" ng-submit="$ctrl.changeData('email')">
        <h2>Change Email</h2>
        <label for="email">Email</label>
        <div class="icon-input">
            <input class="app-input app-grey-input input" id="email" type="email"
                   required name="email"
                   ng-model="$ctrl.email">
        </div>
        <button type="submit"
                ng-disabled="$ctrl.emailForm.$invalid"
                class="app-grey-btn">
            Save
        </button>
    </form>
    <form name="$ctrl.blackListForm" ng-submit="$ctrl.changeData('blacklist')" class="-pd-bottom-50">
        <h2>Blacklist</h2>
        <search-for-item key-to-display="name" list="$ctrl.blacklist" resource="$ctrl.home.usersList"></search-for-item>
        <button type="submit"
                ng-disabled="!$ctrl.home.user.blacklist.length"
                class="app-grey-btn">
            Save
        </button>
    </form>
</section>
<div class="-centered loader-wrapp" ng-show="$ctrl.inFlight">
    <div class="loader"></div>
</div>
