<form name="$ctrl.signInForm" ng-submit="$ctrl.signIn()" class="auth-form">
    <div class="auth-input-box">
        <label class="auth-label" for="email">Login</label>
        <input class="auth-input" id="email" type="email"
               required
               ng-model="$ctrl.signInData.email">
    </div>
    <div class="auth-input-box">
        <label class="auth-label" for="password">Password</label>
        <input class="auth-input" id="password" type="password"
               required
               ng-model="$ctrl.signInData.password">
    </div>
    <button type="submit"
            ng-disabled="$ctrl.signInForm.$invalid"
            class="app-blue-btn auth-submit app-button">
        Sign In
    </button>
    <div class="-al-c">
        <a ui-sref="register">Not registred yet?</a>
    </div>
</form>
