<form name="$ctrl.signUpForm" ng-submit="$ctrl.signUp()" class="auth-form">
    <h2 class="-mg-top-0 -al-c">Sign Up</h2>
    <div class="auth-input-box">
        <label class="auth-label" for="name">Name</label>
        <input class="app-input app-grey-input auth-input" id="name" type="text"
               required name="name"
               ng-class="{'invalid' : $ctrl.signUpForm.name.$invalid}"
               ng-model="$ctrl.signUpData.name">
    </div>
    <div class="auth-input-box">
        <label class="auth-label" for="email">Email</label>
        <input class="app-input app-grey-input auth-input" id="email" type="email"
               required name="email"
               ng-class="{'invalid' : $ctrl.signUpForm.email.$invalid}"
               ng-model="$ctrl.signUpData.email">
    </div>
    <div class="auth-input-box">
        <label class="auth-label" for="password">Password</label>
        <input class="app-input app-grey-input auth-input" id="password" type="password"
               required name="password"
               ng-class="{'invalid' : $ctrl.signUpForm.password.$invalid}"
               ng-model="$ctrl.signUpData.password">
    </div>
    <button type="submit"
            ng-disabled="$ctrl.signUpForm.$invalid"
            class="app-blue-btn app-button auth-submit">
        Sign Up
    </button>
    <div class="-al-c">
        <a ui-sref="login">Already registered</a>
    </div>
</form>